.borda{border: 3px solid gray; height: 100px;width:1000px ;
          }
          .borda2{border: 3px solid gray; height: 250px;width:1000px ;
          }
          .borda3{border: 20px solid gray;height: 0px    ;   width:965px ; }

          .borda4{border: 3px solid gray; height: 0px;width:1000px ;  }
.tabela{ border: 1px solid black;                                 }

